{# CS 101 UTILITY MACROS FOR JINJA #}
{# {{{ indented_include header ∇/∆\∇/∆\∇/∆\∇/∆\∇/∆\∇/∆\∇/∆\∇/∆\∇/∆\∇/∆\∇/∆\∇/ #}

{% macro indented_include(filename, n) -%}
{%- filter indent(n) -%}{%- include filename -%}{%- endfilter %}
{%- endmacro %}

{# }}} #}


{# {{{ lesson submission header ∇/∆\∇/∆\∇/∆\∇/∆\∇/∆\∇/∆\∇/∆\∇/∆\∇/∆\∇/∆\∇/∆\∇ #}

{% macro lesson_header(nr, title="", release_offset=-2, due_offset=7) %}

title: "{{title}} lesson {{"{0}".format(nr).rjust(2)}}"
description: |
    # {{title}} lesson {{"{0}".format(nr).rjust(2)}}
rules:
    tags:
    -   regular
    -   approved
    -   notforcredit

    start:
    -
        if_has_role: [instructor, ta]
        may_start_new_session: True
        may_list_existing_sessions: True
        tag_session: notforcredit
    -
        if_after: lecture {{nr}} - {{release_offset}} days @ 08:00
        if_before: lecture {{nr}} + {{due_offset}} days @ 22:00
        if_has_role: [student]
        if_has_fewer_sessions_than: 1
        may_start_new_session: True
        may_list_existing_sessions: True
        default_expiration_mode: end
        tag_session: regular
    -
        if_after: lecture {{nr}} + {{due_offset}} days @ 22:00
        if_before: course_end @ 22:00
        if_has_role: [student]
        if_has_fewer_sessions_than: 2
        may_start_new_session: True
        may_list_existing_sessions: True
        default_expiration_mode: end
        tag_session: notforcredit
    -
        may_start_new_session: False
        may_list_existing_sessions: True

    access:
    -
        if_has_role: [instructor, ta]
        permissions: [view, submit_answer, change_answer, see_answer_before_submission, end_session, see_correctness]
    -
        if_has_role: [unenrolled]
        permissions: [view]
        message: |
            You do not seem to be enrolled in the course website, which is why
            you cannot make changes below. Please verify that you are signed in,
            and then return to the class web page and find the big blue "Enroll"
            button near the top.
    -
        if_after: lecture {{nr}} @ 09:00
        if_before: lecture {{nr}} + {{due_offset}} days @ 22:00
        permissions: [view, submit_answer, change_answer, see_correctness]
    -
        if_after: lecture {{nr}} + {{due_offset}} days @ 22:00
        if_before: lecture {{nr}} + {{due_offset}} days @ 22:00
        permissions: [view, submit_answer, change_answer, see_correctness]
    -
        permissions: [view, submit_answer, see_correctness, change_answer, see_answer_after_submission]

    grade_identifier: lesson{{"{0}".format(nr).zfill(2)}}
    grade_aggregation_strategy: max_grade

    grading:
    # Full-credit deadline
    -
        if_has_tag: regular
        description: "Full Credit"
        due: lecture {{nr}} + {{due_offset}} days @ 22:00
        generates_grade: True
        credit_percent: 100
    # No-credit viewing
    -
        if_has_tag: notforcredit
        description: "Not for Credit"
        due: course_end @ 22:00
        generates_grade: true
        credit_percent: 0
    # Approved late take
    -
        if_has_tag: approved
        description: "Full Credit (Approved Late Take)"
        generates_grade: true
        credit_percent: 100
    -
        credit_percent: 0

{% endmacro %}

{# }}} #}


{# {{{ quiz submission header ∇/∆\∇/∆\∇/∆\∇/∆\∇/∆\∇/∆\∇/∆\∇/∆\∇/∆\∇/∆\∇/∆\∇/∆ #}

{% macro quiz_header(nr, override_start=None, due_offset=4) %}

title: "quiz {{nr}}"
description: |
    # quiz {{nr}}
rules:
    tags:
    -   regular
    -   approved
    -   notforcredit

    start:
    -
        if_has_role: [instructor, ta]
        may_start_new_session: True
        may_list_existing_sessions: True
        tag_session: notforcredit
    -
        if_has_role: [student]  # for primary access during exam
        if_in_facility: "cbtf"
        if_after: quiz {{override_start if override_start else nr}}
        if_has_fewer_sessions_than: 1
        may_start_new_session: True
        may_list_existing_sessions: True
        default_expiration_mode: end
        tag_session: regular
    -
        may_start_new_session: False
        may_list_existing_sessions: True

    access:
    -
        if_has_role: [instructor, ta]
        permissions: [view, submit_answer, change_answer, see_answer_before_submission, end_session, see_correctness]
    -
        if_has_role: [unenrolled]
        permissions: [view]
        message: |
            You do not seem to be enrolled in the course website, which is why
            you cannot make changes below. Please verify that you are signed in,
            and then return to the class web page and find the big blue "Enroll"
            button near the top.
    -
        if_has_role: [student]
        if_in_facility: "cbtf"
        if_after: quiz {{override_start if override_start else nr}} @ 09:00
        if_before: quiz {{override_start if override_start else nr}} + {{due_offset}} days @ 23:00
        permissions: [view, submit_answer, change_answer, see_session_time, end_session, lock_down_as_exam_session]
    -
        permissions: []

    grade_identifier: quiz{{nr}}
    grade_aggregation_strategy: max_grade

    grading:
    # Full-credit deadline
    -
        if_has_tag: regular
        description: "Full Credit"
        due: lecture {{override_start if override_start else nr}} + {{due_offset-1}} days @ 23:00
        generates_grade: True
        credit_percent: 100
    # Approved late take
    -
        if_has_tag: approved
        description: "Approved Late Take"
        due: lecture {{override_start if override_start else nr}} + {{due_offset}} days @ 23:00
        generates_grade: True
        credit_percent: 100
    -
        credit_percent: 0

{% endmacro %}

{# }}} #}


{# {{{ quiz preview header ∇/∆\∇/∆\∇/∆\∇/∆\∇/∆\∇/∆\∇/∆\∇/∆\∇/∆\∇/∆\∇/∆\∇/∆\∇/ #}

{% macro quiz_preview_header(nr, due_offset=4) %}

title: "quiz {{nr}} Preview"
description: |
    # quiz {{nr}} Preview
rules:
    tags:
    -   notforcredit

    start:
    -
        if_has_role: [instructor, ta]
        may_start_new_session: True
        may_list_existing_sessions: True
        tag_session: notforcredit
    -
        if_has_role: [student]
        if_after: course_start
        if_has_fewer_sessions_than: 1
        may_start_new_session: True
        may_list_existing_sessions: True
        default_expiration_mode: end
        tag_session: notforcredit
    -
        may_start_new_session: False
        may_list_existing_sessions: True

    access:
    -
        if_has_role: [instructor, ta]
        permissions: [view, submit_answer, change_answer, see_answer_before_submission, end_session, see_correctness]
    -
        if_has_role: [student]
        permissions: [view, submit_answer, change_answer, end_session, see_correctness]
    -
        if_has_role: [unenrolled]
        permissions: [view]
        message: |
            You do not seem to be enrolled in the course website, which is why
            you cannot make changes below. Please verify that you are signed in,
            and then return to the class web page and find the big blue "Enroll"
            button near the top.
    -
        permissions: []

    grade_identifier: quiz{{nr}}_preview
    grade_aggregation_strategy: max_grade

    grading:
    # Not for credit
    -
        if_has_tag: notforcredit
        description: "Not for Credit"
        due: course_end @ 22:00
        generates_grade: False
        credit_percent: 0
    -
        credit_percent: 0

{% endmacro %}

{# }}} #}


{# {{{ homework submission header ∇/∆\∇/∆\∇/∆\∇/∆\∇/∆\∇/∆\∇/∆\∇/∆\∇/∆\∇/∆\∇/∆ #}

{% macro homework_header(nr, lesson_release, title=None, due_offset=9, due_late_days=0) %}

title: "hw {{"{0}".format(nr).rjust(2) if not title else title}}"
description: |
    # hw {{"{0}".format(nr).rjust(2) if not title else title}}
rules:
    tags:
    -   regular
    -   late
    -   approved
    -   notforcredit

    start:
    -
        if_has_role: [instructor, ta]
        may_start_new_session: True
        may_list_existing_sessions: True
        tag_session: notforcredit
    -
        if_after: lecture {{lesson_release}}
        if_before: lecture {{lesson_release}} + {{due_offset}} days @ 22:00
        if_has_role: [student]
        if_has_fewer_sessions_than: 1
        may_start_new_session: True
        may_list_existing_sessions: True
        default_expiration_mode: end
        tag_session: regular
    -
        if_after: lecture {{lesson_release}} + {{due_offset}} days @ 22:00
        if_before: lecture {{lesson_release}}  + {{due_offset+due_late_days}} days @ 22:00
        if_has_role: [student]
        if_has_fewer_sessions_than: 2
        may_start_new_session: True
        may_list_existing_sessions: True
        default_expiration_mode: end
        tag_session: late
    -
        if_after: lecture {{lesson_release}} + {{due_offset+due_late_days}} days @ 22:00
        if_before: course_end @ 22:00
        if_has_role: [student]
        if_has_fewer_sessions_than: 2
        may_start_new_session: True
        may_list_existing_sessions: True
        default_expiration_mode: end
        tag_session: notforcredit
    -
        may_start_new_session: False
        may_list_existing_sessions: True

    access:
    -
        if_has_role: [instructor, ta]
        permissions: [view, submit_answer, change_answer, see_answer_before_submission, end_session, see_correctness]
    -
        if_has_role: [unenrolled]
        permissions: [view]
        message: |
            You do not seem to be enrolled in the course website, which is why
            you cannot make changes below. Please verify that you are signed in,
            and then return to the class web page and find the big blue "Enroll"
            button near the top.
    -
        if_after: lecture {{lesson_release}} @ 09:00
        if_before: lecture {{lesson_release}} + {{due_offset}} days @ 22:00
        permissions: [view, submit_answer, change_answer, see_correctness]
    -
        if_after: lecture {{lesson_release}} + {{due_offset}} days @ 22:00
        permissions: [view, submit_answer, see_correctness, change_answer, see_answer_after_submission]

    grade_identifier: hw{{"{0}".format(nr).zfill(2) if not title else title}}
    grade_aggregation_strategy: max_grade

    grading:
    # Full-credit deadline
    -
        if_has_tag: regular
        description: "Full Credit"
        due: lecture {{lesson_release}} + {{due_offset}} days @ 22:00
        generates_grade: True
        credit_percent: 100
    # Partial-credit deadline
    -
        if_has_tag: late
        description: "Partial Credit (Late Take)"
        due: lecture {{lesson_release}} + {{due_offset+due_late_days}} days @ 22:00
        generates_grade: true
        credit_percent: 50
    # No-credit viewing
    -
        if_has_tag: notforcredit
        description: "Not for Credit"
        due: course_end @ 22:00
        generates_grade: true
        credit_percent: 0
    # Approved late take
    -
        if_has_tag: approved
        description: "Full Credit (Approved Late Take)"
        generates_grade: true
        credit_percent: 100
    -
        credit_percent: 0

{% endmacro %}

{# }}} #}
